<launch>

      <!-- This file represents a case when the systems have 10 cameras, each named "zero," "one," and so on. -->
      <!-- If more or fewer cameras are used, feel free to duplicate or delete some groups and input the IPs. -->

      <group ns="zero">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      <!-- server: 192.168.0.184 -->
                      server: 192.168.0.184
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP0_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>   

      <group ns="one">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.126
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP1_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>   
      
      <group ns="two">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.206
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP2_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>   
      
      

      <group ns="three">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.185
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP3_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   
      
      
      
      
            <!-- viewer -->
            <node name="image_viewer" pkg="rqt_image_view" type="rqt_image_view" 
                  args="/three/image_raw" output="screen" />
            
      </group>   
      
      
      <group ns="four">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.144
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP4_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>   
      
      
      <group ns="five">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.133
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP5_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>   

      <group ns="six">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.202
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP6_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>

      <group ns="seven">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      <!-- server: 192.168.0.115 -->
                      server: 192.168.0.115
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP7_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>

      <group ns="eight">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.105
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP8_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>

      <group ns="nine">
            <!-- mjpeg stream to ros image topic -->
            <node name="mjpeg_client" pkg="nodelet" type="nodelet" args="manager" output="screen" >
	            <remap from="image" to="image_raw"/>
	            <remap from="image/compressed" to="image_raw/compressed"/>
            </node>
            <!-- mjpeg stream to compressed image -->
            <node name="mjepg_client_loader" pkg="nodelet" type="nodelet" 
                  args="load mjpeg_client/MjpegClient mjpeg_client" output="screen">
                  <rosparam>
                      server: 192.168.0.240
                      target: /axis-cgi/mjpg/video.cgi?camera=1
                      timeout: 5.
                      frame_id: SSP9_camera
                  </rosparam>
            </node>
            <!-- compressed image to uncompressed image -->
            <node name="mjpeg_decoder_loader" pkg="nodelet" type="nodelet"
                  args="load mjpeg_client/MjpegDecoder mjpeg_client" output="screen" />
            <!-- -->   

            
      </group>


</launch>
