<launch>

   <node pkg="dist_from_tf" name="publish_relpos_1" type="publish_relpos.py" output="screen" args="1">
      <param name="/use_sim_time" value="true"/>
   </node>

   <node pkg="dist_from_tf" name="publish_relpos_2" type="publish_relpos.py" output="screen" args="2">
      <param name="/use_sim_time" value="true"/>
   </node>

</launch>
