<launch>
    <!-- run with test_{image_files,video_file}.launch -->
    <!-- -->
    <!-- camera info publisher $(eval pi / 3) -->
    <node name="camera_info_publisher" pkg="nodelet" type="nodelet" 
          args="standalone image_source/AutoCameraInfo" output="screen">
        <remap from="image_in" to="image_raw"/>
        <param name="fov" value="77.5" />
    </node>
    <!-- -->
    <!-- camera info printer -->
    <node name="camera_info_echo" pkg="rostopic" type="rostopic"
          args="echo camera_info" output="screen" />
</launch>
